
image: eeacms/proftpd:latest
  build: proftpd
  restart: always
  ports:
     - changeme:20
     - changeme:21
     - changeme:999
     - changeme:1026
     - changeme:1027
     - changeme:1028
     - changeme:1029
     - changeme:1030
     - 49200-49230:49200-49230
  labels:
    io.rancher.scheduler.affinity:host_label: changeme

  environment:
    SERVICENAME: 'changeme'
    SERVERNAME: 'changeme'
    SERVERADMIN: 'changeme'
    PORT: '990'
    PASSIVE_PORTS: '49200-49230'
    DEFAULTROOT: 'changeme'
    TLSCACERTIFICATEPATH: 'changeme'
    LDAPGENERATEHOMEDIRPREFIX: 'changeme'
    LDAPSERVER: 'changeme'

    SDIACCESSRIGHTS: |-
       AuthUserFile /etc/proftpd/users
       <Directory changeme_basedir>
       <Limit WRITE>
         DenyAll
       </Limit>
       <Limit DIRS READ>
       AllowGroup OR changeme_group, changeme_group
       #AllowUser add_custom_user, custom_user2
       #   DenyAll
       #    </Limit>
       #    </Directory>


    USERS: |
       user1:password1:65534:65534::/var/run/proftpd:/bin/false
       user2:password2:65534:65534::/var/run/proftpd:/bin/false
       user3:password3:33:65534::/var/run/proftpd:/bin/false

  volumes:
  - /backups:/backups
  - testvolume:changeme
  - changeme.crt:/ssl/server.crt:ro
  - changeme.key:/ssl/server.key:ro
  - changeme-server-chain.crt:/ssl/chain.crt:ro

